/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.btn {
  @include button-style;
}

@each $bt-style,$color in $button-styles{

  .bt-#{$bt-style}{

  background-color: $color;
  transition: background-color 0.5s linear;
  &:hover{
    background-color: lighten($color, 15%);
  }

  }
}

