/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.btn {
  @include button-style;
}

.default {

  background-color: $malibu;
  transition: background-color 0.5s linear;

  &:hover{
    background-color: lighten($malibu, 15%);
  }
}

.error {

  background-color: $sunglo;
  transition: background-color 0.5s linear;

  &:hover{
    background-color: lighten($sunglo, 15%);
  }
}

.info {
 
  background-color: $purple-moountain;
  transition: background-color 0.5s linear;

  &:hover{
    background-color: lighten($purple-moountain, 15%);
  }
}

.success {
 
  background-color: $emerald;
  transition: background-color 0.5s linear;

  &:hover{
    background-color: lighten($emerald, 15%);
  }
}

.warning {
  
  background-color: $coral;
  &:hover{
    background-color: lighten($coral, 15%);
  }
}
