
/* ============================================= */
/*              Media Queries                    */
/* ============================================= */


@media (min-width: $min-width-ipad) {

   
    .centered {
      @include center;

    }
    
    
    [class^=col] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
    
    [class^=col] + [class^=col] {
      margin-left: $gutter;
    }
    
    .col-1 {
      flex-basis: perline(1);
    }
    
    .col-2 {
      flex-basis: perline(2);
    }
    
    .col-3 {
      flex-basis: perline(3);
    }
    
    .col-4 {
      flex-basis: perline(4);
    }
    
    .col-5 {
      flex-basis: perline(5);
    }
    
    .col-6 {
      flex-basis: perline(6);
    }
    
    .col-7 {
      flex-basis: perline(7);
    }
    
    .col-8 {
      flex-basis: perline(8);
    }
    
    .col-9 {
      flex-basis: perline(9);
    }
    
    .col-10 {
      flex-basis: perline(10);
    }
    
    .col-11 {
      flex-basis: perline(11);
    }

    
    .col-12 {
      flex-basis: 100%;
    }
    
    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    
    .nav-link {
      flex-basis: 100px;
    }
    
    .btn {
      padding: 10px 30px;
    }
    
    .btn + .btn {
      margin-left: 10px;
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
    }